body {
  background-color: #0c1520;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  color: white;
}
.heading {
  color: white;
  font-weight: bold;
  font-size: 18px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* CALCULATOR */

.header {
  background-color: #1257a4; /* Green background */
  color: white; /* White text color */
  text-align: center; /* Center the text */
  padding: 20px; /* Some padding for better appearance */
  font-size: 24px; /* Adjust the font size as needed */
}

/*INPUT COLUMN*/

.input-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

/* Styles for both input fields and dropdowns */
.input-column input,
.input-column select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #1e2f41; /* Set the background color */
  color: white; /* Set text color to white for better readability */
}

.input-column select,
.input-column input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-sidebar {
  background-color: #142131;
  border-radius: 20px;
  /* padding: 10px; */
}
.input-sidebar {
  align-self: flex-start; /* Aligns the sidebar to the start, reducing its height to content size */
}
/*TOOLTIP*/
.tooltip-style {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #314155;
  color: #ddc56f;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border: 2px solid #9e9b9b;
}

/*TABLEDISPLAY*/
.table-display {
  color: white;
  background-color: #142131;
  border-radius: 20px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.table-display td {
  border: 1px solid #2b476a; /* White border for cells */
  border-radius: 4px;
  padding: 3px; /* Padding for cell content */
  text-align: left; /* Align text to the left */
  font-size: 12px;
}

/*STATISTIC*/
.statistics {
  color: white;
  background-color: #142131;
  border-radius: 20px;
  padding: 5%;
}

/*ACTIVITY*/
.activityMain {
  color: white;
  background-color: #142131;
  border-radius: 20px;
  padding: 2%;
  margin-top: 2%;
}
.activity {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 5%;
}

.allActivityFilters {
  background-color: #2d3d51;
  padding: 2%;
  border-radius: 20px;
}

.activityFilter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
}

.activityFilter label {
  flex-grow: 0;
  margin-right: 20px;
}
.filterActivityDisplay {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*PLANNING*/
.planning {
  color: white;
  background-color: #142131;
  border-radius: 20px;
  padding: 3%;
  font-size: 12px;
  font-weight: bold;
}
.planning-rows {
  display: flex;
  justify-content: space-between;
}
.planning-rows2 {
  display: flex;
  justify-content: end;
}
.headingInput {
  display: flex;
  align-items: baseline;
}

.planningInput {
  background-color: #1e2f41; /* Updated background color */
  border: 2px solid #787878; /* Updated border color and width */
  border-radius: 4px; /* Updated border radius */
  color: white;
}
/*SCROLLBAR*/
.custom-scrollbar {
  /* This part applies to the scrollbar track */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #303f52 grey; /* For Firefox */

  /* This part is for Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    width: 20px;
  }

  &::-webkit-scrollbar-track {
    background: #142131;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #303f52;
    border-radius: 5px;
    border: 3px solid grey;
    margin-left: 50px;
  }
}

/*Save button*/
.saveButton {
  background-color: #0e2c0f;
  color: white;
  border-radius: 5px;
  padding: 7px;
  border-color: #fff;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 0.5px;

  position: fixed;
  bottom: 1%;
  left: 52%;
  right: 39%;
}
.saveButtonDiv {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px;
}

/*Graph button profitability analytics*/
.graphButton {
  background-color: #1e2f41;
  color: white;
  border-radius: 5px;
  border: 2px solid #787878;
  padding: 5px;
  font-weight: bold;
}
.graphButton:active {
  border-color: #039234; /* Change border color on click */
}
/*Analytics profitability header2*/
.as_header2 {
  background-color: #142131; /* Green background */
  color: white; /* White text color */
  text-align: center; /* Center the text */
  padding: 20px; /* Some padding for better appearance */
  font-size: 24px; /* Adjust the font size as needed */
}
/* MODAL */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.no-scroll {
  overflow: hidden;
}
